@import "@/styles/variables";
@import '@/styles/mixins';

.experience-card {
  position: relative;
  border: 1px solid $color-primary;
  box-shadow: 0 0 10px rgba(black, .25);
  background-color: $color-surface;
  color: $color-on-surface;

  @each $name, $value in $association-colors {
    --#{$name}: #{$value};
  }

  @include respond-below(sm) {
    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: calc(100% + 4rem);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #999;
      z-index: -1;
    }
  }
}

.future-emoji,
.beginnings-emoji {
  font-size: 2rem;
  position: absolute;
  bottom: calc(100% + 1rem);
  left: 50%;
  transform: translateX(-50%);
  @include respond-above(sm) {
    display: none;
  }
}

.future-emoji {
}

.beginnings-emoji {
  bottom: auto;
  top: calc(100% + 1rem);
}
