@import '@/styles/variables';

.button {

  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  transition: ease-in-out 150ms;

  &.whatsapp {
    border-color: $color-whatsapp;
    background-color: $color-whatsapp;
    color: #1c1e21;
    
    :hover > & {
      background-color: white;
      border-color: #1c1e21;
    }
  }
}