@import "@/styles/variables";

.header {
  background-color: transparentize($color-surface, 0.25);
  color: $color-on-surface;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  z-index: 100;
  border-bottom: 1px solid transparentize(black, .75);
  
  &__logo__domain {
    color: $color-primary;
  }
  
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: saturate(180%) blur(5px);
    backface-visibility: hidden;
    z-index: -1;
    top: -1px;
    transform: translateZ(0);
  }
}