@import "@/styles/mixins";

.hero {
  padding-top: 4rem; // The height of the navbar
  position: relative;
  overflow: hidden;
  
  &__video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: blur(30px);
    transform: scale(-1, 1);
    background-color: rgb(66, 66, 141);
  }
  
  &__row {
    padding: 3rem 0;
    
    @include respond-above(md) {
      padding: 6rem 0;
    }
  }
}