.tag {
  border: 1px solid rgba(255,255,255,.25);
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .85em;
  transition: 150ms ease-in-out;
  user-select: none;
  cursor: default;
  
  &:hover {
    border-color: var(--hover-color);
    color: var(--hover-color);
  }
}